
#sample{
    /* block요소 하위 텍스트 정렬 */ 
    text-align: center;
    text-decoration: underline 2px red wavy; /*underline |line-through | overline */
    text-shadow: 3px 3px 7px gray;  /*x-offset y-offset spread color */
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.bg{
    background-color: black;
    text-align: center;
    
}
.shadow{
    font-weight: bold;
    font-size: 100px;
    color: white;
}
#shadow1 {
    color: orangered;
    text-shadow: 5px 5px 0px orange;
}
#shadow2 {text-shadow: 0px 0px 16px #fff;}
#shadow3{ text-shadow: 7px 0px 10px #66ff00;}
#shadow4{color: black; text-shadow: -2px -15px 11px #FF9800;}